html {
    height: 100%;
    width: 100%;
  }

.meeskonna_konteiner {
    text-align: center;
    margin-bottom: 20px;
}

.meeskond {
    font-size: 4rem;
    margin: 0;
}

.lingid {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin-bottom: 10px;
  }
  
.link-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}